<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{{ '/' | relative_url }}">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/#about' | relative_url }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/#projects' | relative_url }}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/blog/' | relative_url }}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/#contact' | relative_url }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
