---
layout: default
title: Blog
---

<section class="section-blog page-spacer">
    <div class="container" style="max-width:1000px">
        <div class="row">
            <div class="col-12">
                <h1 class="custom-text-color-primary">Blog</h1>
                <p class="custom-text-color-secondary">Latest posts</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if site.posts and site.posts.size > 0 %}
                    <ul class="list-unstyled">
                    {% for post in site.posts %}
                        <li class="mb-4">
                            <h3 class="mb-1"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                            <small class="custom-text-color-secondary">{{ post.date | date: "%-d %B %Y" }}</small>
                            <p class="mt-2 custom-text-color-secondary">{{ post.excerpt | strip_html | truncate: 200 }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p class="custom-text-color-secondary">No posts yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
